global
  log /dev/log local0
  log /dev/log local1 notice
  maxconn 200

defaults
  log     global
  option  httplog
  option  dontlognull
  timeout connect 5000ms
  timeout client  50000ms
  timeout server  50000ms

frontend mysql_front
  bind *:3306
  default_backend mysql_back

backend mysql_back
  balance roundrobin
  server mysql1 mysql1:3306 check
  server mysql2 mysql2:3306 check
  server mysql3 mysql3:3306 check
