# Configuración básica de HAProxy

global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 2000

defaults
    log     global
    option  tcplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

# Balanceo de carga para MySQL
frontend mysql_front
    bind *:3306
    mode tcp
    default_backend mysql_back

backend mysql_back
    mode tcp
    balance roundrobin
    server mysql_master mysql-master:3306 check
    server mysql_slave1 mysql-slave1:3306 check
    server mysql_slave2 mysql-slave2:3306 check
